<div class="esriTimeSlider">
   <div id="temporal" class="bottom_overlay" style="height:189px">
      <div id='temporal_controls'>
        <div id="focusControls" class="header">
        <button class="play" id="play">
          <div id="playInternal" class="play-mode"></div>
          <h1 id="temporalTitle" class="play" style="margin-top:-1px">PLAY</h1>
        </button>
        <!--<h1 id="temporalTitle" class="play" style=""><button dojoType="dijit.form.Button" showLabel="false" iconClass="tsButton tsPlayButton" dojoAttachEvent="onClick:_onPlay" dojoAttachPoint="playPauseBtn" type="button">${NLS_play}</button></h1>-->
        <div id="playModeChooser" class="fg-buttonset fg-buttonset-single">
          <button id="rangeMode" class="range-mode fg-button ui-state-default ui-priority-primary ui-corner-left ui-state-active" value="range">range</button>
          <button id="cumulativeMode"class="cumulative-mode fg-button ui-state-default ui-priority-primary ui-corner-right" value="cumulative">cumulative</button>
          </div>
        <button id="show_hide" class="hide"></button>
        <div id="focusRange"></div>
      </div>
       <div id="chartsContainer">
          <div id="focusContainer">
          <div id="pageHolder_left">
            <button id="page_left"></button>
          </div>
          <div id="focusChartHolder">
            <div id="focusAnnotation"></div>
            <div id="focus"></div>
            <div id="resolutionChooser" class="fg-buttonset fg-buttonset-single">
              <button id="second" class="fg-button ui-state-default ui-priority-primary ui-corner-left" value="second">sec</button>
              <button id="minute" class="fg-button ui-state-default ui-priority-primary" value="minute">min</button>
              <button id="hour" class="fg-button ui-state-default ui-priority-primary" value="hour">hh</button>
              <button id="day" class="fg-button ui-state-default ui-priority-primary" value="day">dd</button>
              <button id="month" class="fg-button ui-state-default ui-priority-primary" value="month">mm</button>
              <button id="year" class="fg-button ui-state-default ui-priority-primary ui-corner-right" value="year">yy</button>
            </div>
            <div id="focusTip"></div>
          </div>
          <div id="pageHolder_right" >
            <button id="page_right"></button>
          </div>
        </div>
        <div id="overviewContainer">
          <div id="overviews">
            <div id="overviewAnnotation"></div>
            <div id="overview"></div>
            <div id="overviewBlockers"></div>
            <div id="overviewSlider"></div>
          </div>
        </div>
        <div id="overviewControls">
          <!--<button id="hideOverview" class="hide"></button>-->
          <h1 id="overviewTitle">OVERVIEW</h1>
          <p id="overviewRange">(full range: <span id="overviewRangeSpan"></span>)</p>
        </div>
        </div>
    </div>
   </div>
</div>
